/* Farben */  
/* 
$orange: #ffa600;
$grey:#f3f3f3;
$white: #fff;
$base-color:$orange ; */

body {
    background: #faa911;
    font-family: Helvetica, Arial, "Lucida Grande", sans-serif;
    height: 100%;
}

.wrapper {
    width: 800px;
    margin: 30px auto;
    color: white;
    text-align: center;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
}

h2 {
    font-family: 'Times New Roman', Times, serif;
}

span {
    font-size: 5em;
}

button {
    background: #faa911;
    color: white;
    border: solid 1px white;
    text-decoration: none;
    cursor: pointer;
    font-size: 1.2em;
    padding: 18px 10px;
    width: 180px;
    margin: 10px;
    border-radius: 5px;
}

button:hover {
    outline: none;
    background: white;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    border: solid 1px white;
    color: #faa911;
}

/* main.css */

